@media only screen and (max-width: 480px){
    #container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "sidebar"
        "footer";
    }
    #main {
        height:300px;
    }

    #info-text {
        margin-bottom:40px;
    }

    .navbar a.icon {
        font-size: 15px;
        margin-right:0;
    }
    #navlinks a{
        font-size:16px;
    }

    #info-text{
        height: auto;
    }
    #image-wrapper img {
        width: 100px;
    }
    #imagesection {
        height: 25%;
    }

    #imagesection img {
        height: 100%;
    }
    #text-section p{
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    
    #text-section h2{
        font-size: 20px;
        margin: 40px 20px 20px 20px;
    } 

    .form{
        width: 100%;
        height: 100%;
        margin-top: 0px;
    }
    
    .title{
        font-size: 20px;
    }
    
    .input-container span, #info-text p{
        font-size: 15px;
    }
        
    .input, .btn, .input-container.focus label, .input-container label{
        font-size: 15px;
    }

    .contact-form{
        height:500px;
    }

    #sidebar{
        min-height:400px;
        margin-top:0;
    }
    .sidebar-container{
        padding:0;
        height: 500px;
    }
     
    #footer ul li{
        font-size: 15px;
        min-height: 40px;
       
    }

    #footer-section-2 ul li{
        display: inline;
    }
    
    #footer-section-1{
        display: none;
    }
    
    #footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "section2 section3";
        padding-top:10px;
    }
}
@media only screen and (max-width: 320px){
.sidebar-container{
    display:none;
}
}