
#container {
    grid-template-areas: 
    "header header header header"
    "aside main main main"
    "footer footer footer footer"
    ;

}

#aside {
    grid-area: aside;
    text-align: center;
    position: relative;

}

#image-nav {
    list-style: none;
    padding: 10px;
    margin: 5px;
    position: sticky;
    top: 10px;
}

.nav-button {
    width: 100px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.image-wrapper {
    border: 1px solid rgba(131, 129, 129, 0.5);
    cursor: pointer;
    margin: auto 5px;
    flex: 1 1 200px; 
    display: inline-block;
}


.image-wrapper img {
    width:100%;
  
    /* padding: 20px; */
   
}

.image-full-screen {
    width: 100%;
    border: 5px solid rgba(0,0,0, 0.5);
    z-index: 1;
    margin: auto;
    flex: 0 0 100%;
    align-self: center;
    
}

#main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 10px 0;
   
}

#main .single-image {
    display: block;
    width: 100%;
    border: 20px solid black;
}

.invisible {
    display: none;
}

#image-nav-div {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

@media only screen and (max-width: 768px){
    body {
        width: 100%;
    }

    #container {
        grid-template-areas: 
        "header header header header"
        "aside aside aside aside"
        "main main main main"
        "footer footer footer footer"
        ;
    }

    #aside {
        text-align: center;
    }
}

@media only screen and (max-width: 375px){
    body {
        width: 100%;
    }
    #container {
        grid-template-areas: 
        "header header header header"
        "aside aside aside aside"
        "main main main main"
        "footer footer footer footer"
        ;
    }

    #main {
        justify-content: space-evenly;
    }

    #navbar {
        justify-content:space-between;
        
    }

    #navbar a {
        flex: 1 1;
        font-size: 14px;
        align-self: flex-start;
    }

}

