* {
	box-sizing: border-box;
}

body {
	width: 960px;
	margin: 0 auto;
	background-color: #f6f8f9;
	font-family: helvetica, sans-serif;
}

#navbar,
#footer {
	background-color: #c09c5adc;
}

#image-wrapper {
	background-color: black;
}

#navbar {
	display: flex;
	float: left;
	flex-wrap: wrap;
	width: 100%;
	padding: 10px;
}

#navbar a:hover {
	color: #816303;
}

#navbar a {
	margin-left: 20px;
	text-decoration: none;
	color: black;
	font-size: 18px;
}

#container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		'header header header header'
		'main main main main'
		'footer footer footer footer';
}

#header {
	grid-area: header;
	min-height: 100px;
}

#main {
	grid-area: main;
	min-height: 800px;
	margin-bottom: 80px;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2);
	grid-template-areas:
		'content-section1 content-section1 content-section1'
		'content-section2 content-section3 content-section4';
}

.content-section1 {
	grid-area: content-section1;
}

.content-section2 {
	grid-area: content-section2;
	font-size: 18px;
	margin-top: -10px;
	padding: 20px;
}

.content-section3 {
	grid-area: content-section3;
	margin-top: -10px;
	padding: 20px;
}

.content-section4 {
	padding: 40px 0px 20px 20px;
	grid-area: content-section4;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2);
	grid-template-areas:
		'image1 image2'
		'image3 image4';
	gap: 5px 5px;
}
.imageHeader {
	width: 960px;
	height: 300px;
}

.image1 {
	grid-area: image1;
}

.image2 {
	grid-area: image2;
}

.image3 {
	grid-area: image3;
}

.image4 {
	grid-area: image4;
}
.image1,
.image2,
.image3,
.image4 {
	position: relative;
	text-align: center;
	color: white;
	font-size: 25px;
}

.content-section2 ul li {
	list-style: none;
	margin: 25px 0px 5px -45px;
}

.image-size {
	height: 200px;
	width: 250px;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

#footer {
	display: flex;
	grid-area: footer;
	min-height: 100px;
	align-items: stretch;
	justify-content: left;
	flex-flow: row wrap;
}

.footer-section {
	width: 320px;
	min-height: 100px;
}

#footer ul li {
	list-style: none;
	margin: 5px 5px;
}

#footer ul li a {
	text-decoration: none;
	color: black;
}

/* Tablet */
@media screen and (max-width: 768px) {
	body {
		width: 100%;
	}
	#main {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			'content-section1 content-section1 content-section1 content-section1'
			'content-section2 content-section2 content-section2 content-section2'
			'content-section3 content-section3 content-section3 content-section3'
			'content-section4 content-section4 content-section4 content-section4'
			'content-section4 content-section4 content-section4 content-section4';
	}

	.imageHeader {
		max-width: 768px;
	}
	.image-size {
		height: 300px;
		width: 330px;
	}
	h2 {
		font-size: 30px;
	}
	p {
		font-size: 20px;
	}
	.content-section2 ul li {
		font-size: 25px;
	}
	.footer-section {
		flex-basis: auto;
	}
	#navbar a {
		font-size: 18px;
	}
	.footer-section {
		text-align: left;
		font-size: 20px;
	}
}

/* Mobile */
@media screen and (max-width: 375px) {
	body {
		width: 100%;
	}
	#main {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			'content-section1 content-section1 content-section1 content-section1'
			'content-section2 content-section2 content-section2 content-section2'
			'content-section3 content-section3 content-section3 content-section3'
			'content-section4 content-section4 content-section4 content-section4'
			'content-section4 content-section4 content-section4 content-section4';
	}
	.content-section4 {
		padding: 20px;
		grid-area: content-section4;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			'image1'
			'image2'
			'image3'
			'image4';
		gap: 5px 5px;
	}
	.imageHeader {
		max-width: 375px;
		height: 275px;
	}
	.image-size {
		height: 250px;
		max-width: 375px;
	}
	.image1,
	.image2,
	.image3,
	.image4 {
		font-size: 20px;
	}
	h2 {
		font-size: 30px;
	}
	p {
		font-size: 20px;
	}
	.content-section2 ul li {
		font-size: 25px;
	}
	#navbar {
		justify-content: space-between;
	}
	#navbar a {
		font-size: 10px;
		margin-left: 3px;
	}

	#footer {
		margin-top: 0px;
		flex-flow: row wrap;
		justify-content: start;
	}
	.footer-section {
		flex: 1 1 200px;
		font-size: 12px;
		align-self: flex-start;
		justify-self: left;
		font-size: 15px;
	}
}
