@media screen and (max-width: 768px){
  /* hamburger menu */
.navbar {
    overflow: hidden;
    background-color: #c09c5adc;
    position: relative;
    height: auto;
    justify-content: center;
    }
    
    .navbar #navlinks{
    text-align: center;
    display: none;
    }
    
    .navbar a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
    display: block;
    }
    
    .navbar a.icon {
    background: #c09c5adc;
    font-size: 26px;
    margin-right: 10px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    }

    /*  */
    #imagesection {
        margin-left: 10px;
    }
    
    #info-text {
        margin-left: 10px;
    }
}