@media screen and (max-width: 480px){
    .form{
        width: 100%;
    }

    .navbar a.icon {
        font-size: 15px;
        margin-right: 0;
    }

    .navbar a {
        font-size: 18px;
    }

    .title{
        font-size: 20px;
    }

    #text-section h2{
        font-size: 26px;
        margin: 70px 20px 20px 20px;
    }

    #text-section p{
        font-size: 20px;
        margin: 30px 0 50px 20px;
    }

    #image-wrapper img{
       width: 120px;
    }

    #image-section{
        height: 220px;
    }

    .input-container span, #info-text p{
        font-size: 16px;
    }
  
    .input, .btn, .input-container.focus label, .input-container label{
        font-size: 16px;
    }
  
    .input-container{
        margin-top: 18px;
    }
  
    #image-section .prev, #image-section .next{
        font-size: 25px;
    }
  
    #footer ul li{
        font-size: 15px;
    }
  
    .sidebar-container{
        padding: 0;
        box-shadow: 0 0 20px 1px;
    }

    #footer-section1{
        display: none;
    }

    #footer{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-areas:  
       "section2 section3";
    }
}

@media only screen and (max-width: 320px){
    .sidebar-container{
        display: none;
    }
}